
body{
    background-color: mediumaquamarine;
    text-align: center;
    }

.lane {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    height: 30em;
}

.statWrapper{
    width: 15em;
    margin: auto;
    padding-top: 2em;
}

.gameWrapper{
    width: 55em;
    margin: auto;
    /* align-self: auto;
    text-align: center; */
    background-color: white;
    padding-bottom: 4em;
}

.row {
  display: inline-block;
  background-color: white;
  width: 55em;
  height: 10em;
}

.miniRow {
  display: inline-block;
  background-color: white;
  width: 55em;
  height: 2em;
}

.cell {
  display: inline-block;
  width: 10em;
  height: 10em;
  text-align: center;
  vertical-align: middle;
  line-height: 10em;
}

.question {
    background-color: white;
    color: blue;
    /* vertical-align: middle;  */
    font-size: 1em;
}

.questionButton{
    height: 10em;
    width: 10em;
    font-size: 1em;
}

.answerOption {
    background-color: mediumaquamarine;
    color: black;
    /* vertical-align: middle;  */
    font-size: 1em;
    font-style: bold;
}

.answerOption:hover {
    background-color: lightslategray;
    font-style: bold;
}

.hidden {
    display: none;
}

.correctAnswer {
    background-color: green;
    
}

.wrongAnswer {
    background-color: red;
  
}

.headTitle {
    text-align: center;
    width: 100%;
}

.statTitle {
    text-align: center;
}

.statPlaceholder {
    padding-top: 1em;
}

.radioButton {
    text-align: left;
}