html {
    height: 100%;
  }

body {
    min-height: 100%;
    text-align: center;
  }

.lane {
    display: inline-block;
    vertical-align: top;
    height: auto;
}

.statWrapper{
    width: 18em;
    margin: auto;
}

#gameWrapper{
    display: inline-block;
    /* width: 50em; */
    margin: auto;
}

.row {
  display: inline-block;
  /* width: 50em; */
  height: 10em;
}

.miniRow {
  display: inline-block;
  margin:auto;
  height: 2em;

}

.cell {
  display: inline-block;
  width: 30%;
  max-width: 10em;
  height: 10em;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
}

.question {
    color: blue;
    font-size: 1em;
    opacity: 1;
}

.questionButton{
    height: 10em;
    width: 10em;
    font-size: 1em;
}

.answerOption {
    background-color: mediumaquamarine;
    color: black;
    font-size: 1em;
    font-style: bold;
    opacity: 1;
}

.answerOption:hover {
    background-color: lightslategray;
    font-style: bold;
}

.hidden {
    display: none;
}

.behind {
    z-index: -1 !important;
}

.correctAnswer {
    background-color: green;
    
}

.wrongAnswer {
    background-color: red;
    
}

.headTitle {
    text-align: center;
    width: 100%;
}

.statTitle {
    text-align: center;
}

.statPlaceholder {
    padding-top: .75em;
    font-size: 1.5em;
}

.statPlaceholderText{
    padding-top: 1em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.statPlaceholderText .radioButton{
    padding-top: 0;
    font-size: .75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radioButton {
    text-align: left;
}

#currentGoal {
    font-size: 1.5em;
    margin-top: -.25em;
}


.modal {
    width: 450px;
    height: 330px;
    background-color: mediumaquamarine;
    border: black 2px solid;
    border-radius: 5px;
}

.expandingModal {
    width: 450px;
    height: 330px;
    background-color: mediumaquamarine;
    border: black 2px solid;
    border-radius: 5px;
}

#textBoxModal {
    text-align: left;
    padding-left: 100px;
    padding-top: 5px;
}

.textBox {
    margin-bottom: 5px;
    width: 40px;
    border-radius: 4px;
    background-color: white;
    color: darkgreen;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.table {
    display: table;
}

.clear {
    clear: both; 
 }

.center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

.goalRadio {
    text-align: center;
}

#confirmGoal {
    background-color: white;
    border-radius: 1px;
}

#simplemodal-overlay {
    opacity: 1;
}

#simplemodal-container {
    opacity: 1;
}

.doingGood {
    color: white; 
}

.doingFair {
    color: black;
}

.doingPoor {
    color: white;
}

.finishedGood {
    background-color: green;
    color: white;
}

.finishedFair {
    background-color: black;
    color: white;
}

.finishedPoor {
    background-color: red;
    color: black;
}

.reviewProblems {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.grid {
    width: 100%;
}
[class*='col-'] {
    float: left;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-2 {
      width: 50%;
  }
  .col-1-4 {
      width: 25%;
  }
  .col-3-4 {
      width: 75%;
  }
  .col-1-8 {
      width: 12.5%;
  }
  .col-7-8 {
      width: 87.5%
  }
  .col-1-1 {
      width: 100%;
  }
  .col-4-10 {
      width: 40%;
  }
  .col-3-10 {
      width: 30%;
  }
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* [class*='col-'] {
    padding-right: 20px;
  } */
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  .above30Seconds{
    color: green;
  }
.above15Seconds{
    color: rgb(255, 217, 0);
}
.below15Seconds{
    color: red;
}
#standingHighScore{
    font-size: 1.5em;
}
